<div class="container">
  <div class="row">
    <div class="row justify-content-md-center">
      <!-- <div class="p-col-6 p-mt-6 p-sm-6"> -->
        <p-card header="LOGIN">
          <div class="p-fluid">
            <form (ngSubmit)='ingreso()'>
              <div class="p-field">
                <label class="p-text-bold p-text-capitalize" for="Correo">Correo</label>
                <input type="text" pInputText placeholder='Ingresar Correo' [(ngModel)]='login.Email' name="email"
                  required />
              </div>

              <div class="p-field">
                <label class="p-text-bold p-text-capitalize" for="Correo">
                  {{'password' | titlecase}}
                </label>
                <p-password [toggleMask]="true" placeholder='Ingresar password' [(ngModel)]='login.Password'
                  name="password" required></p-password>
              </div>

              <div class="p-field">
                <div class="p-col-12">
                  <label for="tipo" class="p-text-bold">Tipo de usuario</label>
                  <div class="col-md-6  col-sm-6 ">
                    <p-selectButton [options]="stateOptions" optionLabel="label" optionValue="value" [(ngModel)]='tipo'
                      name="tipo"></p-selectButton>
                  </div>
                </div>
              </div>
              <div class="col-md-6  col-sm-6  p-mx-auto">
                <a routerLink='/auth/Registro' href="">Registrar una cuenta </a>
                <router-outlet></router-outlet>
              </div>

              <div class="col-md-6 col-sm-6  p-mx-auto">
                <button pButton type="submit" class="p-button-info" label="Ingresar"
                  style="background: var(--bluegray-600)"></button>
              </div>
            </form>
          </div>
        </p-card>
      </div>
    <!-- </div> -->
  </div>
</div>