html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: $fuente_principal;
    font-size: 1.6rem;
    background-color: $fondo
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

// Variables heading 
h1,h2,h3,h4{
    margin: 0;
}