<div class="p-grid p-jc-center">
    <div class="p-col-8 p-mt-6">
      <p-card header="Foro">
        <div class="p-fluid">
          <form (ngSubmit)='crear()' #miForo='ngForm'>
            <div class="p-field">


              <label class="p-text-bold p-text-capitalize" for="descripcion"
                >Deja aqui tu pregunta</label
              >
              <input type="text"
               pInputText 
               placeholder='Pregunta' 
               ngModel
               name="descripcion"
               required />
            </div>

            <div class="p-field">


              <label class="p-text-bold p-text-capitalize" for="descripcion"
                >Que lenjuage esta preguntando?</label>
              <p-dropdown
              placeholder="Seleccione Lenguaje de programación"
              optionLabel="temaNombre"
              [showClear]="true"
              [options]='temas'
              [(ngModel)]='imagen'
              name='temas'
              ></p-dropdown>            
            </div>
    
            <div class="p-col-2 p-mx-auto">
              <button
                pButton
                type="submit"
                class="p-button-info"
                label="Crear"
                onClick="refreshPage()"
              ></button>
            </div>
          </form>
        </div>
      </p-card>
    </div>
  </div>

  <div class="row m-6">
    <div class="col">
        <mat-list class="m-5">
          <mat-list-item *ngFor='let foro of foros'>
            <span>¿{{foro.foroDescripcion}}?</span>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
    </div>
  </div>
  <script>
    function refreshPage(){
    window. location. reload();
    }
  </script>
