<div class="p-grid p-jc-center">
    <div class="p-col-10 p-mt-6">
      <p-card header="¿{{titulo |uppercase}}?">
        <div class="p-fluid">
          <form (ngSubmit)='crear()' #miForo='ngForm'>

            <div class="p-field">
                
                    <label class="p-text-bold p-text-capitalize p-m-3" for="descripcion"
                    >¿Que desea compartir, el dia de hoy?</label>
    
                   <input type="text" class="sm-3 form-control" 
                   [(ngModel)]="responde" name="respuesta">

            </div>
    
            <div class="p-col-4 right" >
                <span class="p-buttonset">
                    <button pButton type="submit" label="Publicar" icon="pi pi-check" class="p-mr-2"></button>
                </span>
            </div>
          </form>
        </div>
      </p-card>
      <div class="m-4" *ngFor='let respuesta of consulta' >
        <p class="p-text-bold p-text-capitalize p-m-3">{{respuesta}}</p>
        <hr>
    </div>
    </div>
    
  </div>
