.alerta{
    padding: $separacion / 6;
    text-align: center;
    text-transform: uppercase;
    font-weight: $black;
    &.error{
        background-color: $rojo;
    }
   &.creado{
        background-color: $verde;
   }  
}