.formulario_usuarios{
    margin-top: $separacion / 3 ;
    width: 100%;
    .campo{
        display: flex;
        padding: 0 $separacion;
        gap: $separacion / 4;
        margin-bottom: 3rem;
        align-items: center;
        label{
            flex: 0 0 15rem;
            text-transform: uppercase;
            text-align: center;
            color: #FFFFFF;
            font-weight: $bold; 
            cursor: pointer;
        }

        input{
           flex: 1; 
           border-radius: 1rem;
           padding: 1rem;
           border: none;
        }
    } 
    .selector{
        .opcionCarrera{
            font-weight: $bold;
            font-size: 1.5rem;
        }
    }
}

.enlace{
    text-align: center;
    padding-bottom: 2rem;
    .enlace-texto{text-decoration: none;
    color: #FFFFFF;
    font-weight: $bold;
    font-size: 1.6rem;
    }
}

.boton_principal{
    display: flex;
    margin-top: $separacion /3;
    .envio{
        flex:1;
        cursor: pointer;
        text-transform: uppercase;
        box-shadow: 0 0 1rem $negro;
      }
}