
    <div fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px">
        <div class="col-3"  class='mb-4' fxFlex="20" fxFlex.lg="15" fxFlex.sm="30">
            <mat-card class="example-card" *ngFor='let card of _Info' class='mb-2'>
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>{{card.user}}</mat-card-title>
                  <mat-card-subtitle>Estudiante</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="{{card.imagen}}"  alt="Photo of a Shiba Inu" style="width:30%;">
                <mat-card-content>
                  <h2>¿{{card.pregunta}}?</h2>
                  <i>Tema: {{card.tema}}
                  </i>
                </mat-card-content>
                <mat-card-actions>
                  <button pButton [routerLink]="['/comunidad/respuestas', card.id] ">Participa en este foro</button>
                  
                </mat-card-actions>
              </mat-card>
        </div>
       
    </div>

